@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
    <div class="navbar">
        <AuthorizeView>
            <Authorized>
                <span>Hello, @context.User.Identity.Name!</span> |
                <a href="/account/manage">Profile</a> |
                <a href="/logout">Logout</a>
            </Authorized>
            <NotAuthorized>
                <a href="/account/login">Login</a> |
                <a href="/account/register">Register</a>
            </NotAuthorized>
        </AuthorizeView>
    </div>

    @Body
</CascadingAuthenticationState>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
