@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager NavigationManager

<CascadingAuthenticationState>
    @if (!NavigationManager.Uri.Contains("/account/login", StringComparison.OrdinalIgnoreCase))
    {
        <NavMenu />
    }
    <div class="container mt-5 pt-3">
        @Body
    </div>
</CascadingAuthenticationState>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
